fastapi
uvicorn
uvicorn[standard]
pandas
scikit-learn
pyodbc
sqlalchemy
joblib
langchain
openai
python-multipart
pydantic
pydantic[email]
pydantic-settings
plaid-python
faker
requests
python-jose
dotenv
pyjwt
pyjwt[crypto]
auth0-python
cryptography
