fastapi
uvicorn
uvicorn[standard]
pandas
scikit-learn
pyodbc
sqlalchemy
joblib
langchain
openai
python-multipart
pydantic
plaid-python
faker
requests
python-jose
pyjwt
dotenv
pyjwt
pyjwt[crypto]
auth0-python
